{% extends 'template.html' %}

{% block maincontent %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{{url_for('static', filename='images/logo.png')}}" alt="" width="150" height="60" class="d-inline-block align-text-top">
		</a>		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- <label class="form-label" for="customFile" name="fileToUpload">Detect Damage</label> -->
<form action="" method="POST" enctype="multipart/form-data">
	<input type="file" class="form-control" id="customFile" name="fileToUpload"/>
	<button type="submit" value="Upload Image" class="btn btn-primary">Submit</button>
</form>

{% if upload %}
	<img src="{{ url_for('static', filename='uploads/') }}{{ imagename }}">
{% endif %}
{% endblock %}