<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- Main CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ pagename }}</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <a class="navbar-brand" href="https://www.marutisuzuki.com/channels/arena/all-cars/?form=testdrive&utm_source=google&utm_medium=cpc&utm_campaign=11476038472&utm_term=%2Bmaruti%20%2Bsuzuki&utm_content=c&gclid=CjwKCAjwhMmEBhBwEiwAXwFoEftKJKq2xSZTcL4xrc_7D7e-1DEi3h3Kk_bC6CBH0XdF5vUc-Tv8LxoCC90QAvD_BwE">

            <img src="{{url_for('static',filename='images/logo.jpg')}}" alt="" width="150" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('damageapp') }}">DamageApp</a>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

{% block bodyblock %}



{% endblock %}

<!-- <footer class="page-footer font-small navbar-expand-lg navbar-light bg-dark relative-bottom pb-2" id="footer">
         <div class="row my-5 justify-content-center py-5">
             <div class="col-11">
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                         <h3 class="text-muted mb-md-0 mb-5 bold-text">Maruti Suzuki India Ltd.</h3>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="text-muted mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                         <ul class="list-unstyled">
                             <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                             </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('damageapp') }}">DamageApp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Documentation</a>
                            </li>
                         </ul>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                         <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                         <p class="mb-1 text-muted">Plot No.1 Phase, 3A</p>
                         <p class="text-muted">Imt Manesar, Gurugram, Haryana 122051</p>
                     </div>
                 </div>
                 <div class="row ">
                     <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                         <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights text-muted"><span>&#174;</span> Maruti Suzuki All Rights Reserved.</small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                         <h6 class="mt-55 mt-2 text-muted bold-text"><b>Eashan Kaushik</b></h6><small class="text-muted"> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> eashank16@gmail.com</small>
                     </div>
                     <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                         <h6 class="text-muted bold-text"><b>Eashan Kaushik-2</b></h6><small class="text-muted"><span><i class="fa fa-envelope" aria-hidden="true"></i></span> easha,kausik2017@vitstudent.ac.in</small>
                     </div>
                 </div>
             </div>
         </div>
     </footer> -->


<!-- Bootstrap JQuery -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
